In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("data(1).txt")
data.to_csv('data.csv', index=None )
data.head()

    User          Movie Rating
0  Alice      Star Wars      5
1  Frank  The Godfather      4
2    Bob        Titanic      5
3  Carol     The Matrix      3
4   Dave      Inception      2

In [3]:
data.tail(50)

      User          Movie Rating
8    Frank   Forrest Gump      3
9    Alice     The Matrix      4
10    Paul        Titanic      4
11   Carol      Inception      5
12    Dave        Titanic      4
13   Emily  The Godfather      5
14   Alice      Inception      3
15    Paul  The Godfather      5
16   Carol   Pulp Fiction      4
17     Ivy      Star Wars      5
18   Emily   Forrest Gump      3
19  Quincy     The Matrix      4
20     Ivy     The Matrix      4
21    Paul      Inception      1
22     Bob  The Godfather      4
23   Frank      Star Wars      5
24     Ivy      Inception      3
25    Dave   Forrest Gump      5
26  Quincy      Inception      3
27   Karen     The Matrix      3
28     Leo        Titanic      4
29     Mia  The Godfather      5
30    Nina      Star Wars      5
31   Oscar     The Matrix      4
32   Sarah      Star Wars     5x
33     Tom   Pulp Fiction   Five
34   Karen      Inception      5
35     Leo      Inception      2
36     Mia   Pulp Fiction      4
37    Nina  The Godfather      4
38   Oscar   Pulp Fiction      2
39   Sarah      Inception      4
40     Tom      Inception    NaN
41  Victor  The Godfather    NaN
42   Wendy   Pulp Fiction      4
43    Zane   Pulp Fiction    3.5
44     Uma        Titanic      5
45  Victor         Matrix      x
46   Wendy     The Matrix    3.5
47  Xander   Forrest Gump      5
48    Yara      Inception     5y
49    Zane   Forrest Gump    3.5
50     Uma      Star Wars     2?
51    Yara     The Matrix    NaN
52   Karen   Pulp Fiction      4
53     Leo   Forrest Gump      5
54     Mia   Forrest Gump      3
55    Nina   Forrest Gump      3
56   Oscar   Forrest Gump      5
57    Zane      Star Wars      4

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   User    58 non-null     object
 1   Movie   58 non-null     object
 2   Rating  55 non-null     object
dtypes: object(3)
memory usage: 1.5+ KB

- STATISTICAL ANALYSIS

In [4]:
# To describe the data
data.describe()

         User      Movie Rating
count      58         58     55
unique     22          8     11
top     Alice  Inception      4
freq        3         11     17